@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: lightcoral;
    min-height: 100vh;
    display: grid;
    place-content: center;
    padding: 1rem;
}

.main-container {
    color: black;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    max-width: 400px;
    display: grid;
    gap: 0.5rem;

}

input {
    max-height: 40px;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid lightcoral;
}

input:focus,
input:active {
    outline: 2px solid lightcoral;
    
}

button {
    min-height: 40px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
    transition: 300ms ease;
    border: 2px solid;
    font-weight: bold;
    padding-block: 0.5rem;
}

button:focus {
    outline: 2px solid lightcoral;
}

button:hover {
    color: lightcoral;
    background-color: white;
    border-color: lightcoral;
}

.result {
    max-width: 400px;
}
